@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Roboto+Slab:wght@600&family=Slabo+27px&display=swap');

.photo{
    width: 90px;
    height: 80px;
    border-radius: 10px;
  }
  
  .travel{
    width: 500px;
    height: 400px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 5px solid #555;
  }

  .welcome{
    font-family: 'Pangolin', cursive;
    color: #9d0191;
    font-size: larger;
  }

.welcome-header{
    padding-bottom: 10px;
    font-family: 'Roboto Slab', serif;
    padding-top: 15px;
    color: #790c5a;
}

.welcome-p{
font-family: 'Slabo 27px', serif;
font-size: 20px;
color: black;
}

.grid-welcome {
    display: flex;
    left: 50;
   height: auto;
   flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    flex-direction: row;
    
}



