@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=Slabo+27px&display=swap');

.login-header{
    font-family: 'Roboto Slab', serif;
    padding-top: 15px;
    color: #790c5a;
}

.login-p{
    font-family: 'Slabo 27px', serif;
    padding-top: 20px;
    font-size: 25px;
    padding-left: 10px;
}

.grid{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding-right: 15px;
    
}