body {
  min-height: 100vh;
  background-image: url(../assets/images/bground.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  }


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.photo{
  width: 90px;
  height: 80px;
  border-radius: 10px;
}